body, html {
                margin:0px;
                padding:0px;
                background-color: #E9E9EB;
            }
            .nav-bar {
                display: flex;
                background-color: #FFF;
                flex-direction: row;
                justify-content: flex-end;
                width:900px;
                margin: auto;
                height:50px;
                border-bottom: 1px solid #CCC;
            }
            .nav {
                padding: 5px 25px;
                align-self: center;
                font-size: 1.2em;
            }
            .hidden {
                display: none;
            }
            .content {
                width: 900px;
                margin: auto;
                justify-content: center;
                margin-top:50px;
            }
            .listing {
                background-color: #FFF;
                height: 250px;
                padding: 0px;
                display: flex;
                margin-bottom: 20px;
                flex-direction: row;
                width: 100%;
                border: 1px solid #F4F4F5;
            }
            .item {
                width: 50%;
                flex-grow: 1;
            }
            .f {
                display: flex;
                flex-direction: column;
            }
            .f2 { 
                display: flex;
                flex-grow: 2;
                width: 100%;
                height: 66%;

            }
            .f2 > img {
                display: block;
                width: 50%;
                height: auto;
            }
            .desc {
                padding: 10px;
                display: block;
            }
            .price {
                box-sizing: border-box;
                width: 100%;
                padding: 10px;
                font-size: 1.4em;
                color: #53535F;
                background-color: #F4F4F5;
            }